<div class="page-content">
	<div class="page-header">
		机器任务信息
	</div>
	<!-- /.page-header -->
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<form class="form-horizontal" id="machinetaskinfo">		
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button type="button" class="btn btn-info" id="submitbtn">
							搜索
							<i class="ace-icon fa fa-check bigger-110"></i>
						</button>
						&nbsp; &nbsp; &nbsp;
						<button type="reset" class="btn" id="resetbtn">
							重置
							<i class="ace-icon fa fa-undo bigger-110"></i>
						</button>
						&nbsp; &nbsp; &nbsp;
						<button type="button" class="btn" id="cancelbtn">
							取消
							<i class="ace-icon fa fa-undo bigger-110"></i>
						</button>
					</div>
				</div>
			</form>
			<!-- PAGE CONTENT ENDS -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.page-content -->
<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
<script src="../static/assets/js/jquery-2.0.3.min.js"></script>
<script src="../static/assets/js/jquery.validate.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/ace-elements.min.js"></script>
<script src="../static/assets/js/ace.min.js"></script>
<script src="../static/assets/js/layer-v1.9.3/layer.js"></script>
<script src="../static/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/machine_task_query.js"></script>
<script type="text/javascript">

</script>