<div class="row">
	<div class="col-xs-12">
		<div class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert">
				<i class="icon-remove"></i>
			</button>

			<i class="icon-ok green"></i> 欢迎使用 <strong class="green">
				考核系统 <small>(v1.0)</small>
			</strong> 
			<br/>
			技术支持：南王环保科技
			
		</div>
		<div class="alert alert-block alert-info">
			<h4>专业制袋 国际品质 <span class="label label-default">诚信</span> <span class="label label-default">尊重</span>
			 <span class="label label-default">快速</span> <span class="label label-default">有担当</span></h4>
			
			
		</div>
	</div>
</div>
<script type="application/javascript">
   
</script>